#mapid { 
  height: 500px; 
}

.box {
 width:420px;  
}
#box-dynamic {
  width:420px;
  line-height: 25px;
   background: rgba(0,0,0, 0.5);
   float: left;
  position: absolute;
bottom: 0;
  z-index: 500 !important;
-ms-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
#box-dynamic.minimize {
height: 50px;  
line-height: 5px;
}

#box-dynamic h1 {
  margin-right: 5px;
  color:#fff;
  font-size:20px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-left: 5px;
-ms-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

#box-dynamic.minimize h1{
 font-size: 20px;  
 text-align: center;
}

#box-dynamic p {
  color:#ccc;
  font-size:15px;
  line-height:1.4;
  margin-left: 5px;
  font-family: 'Roboto Condensed', sans-serif;
-ms-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
#box-dynamic.minimize p {
 font-size:0px; 
}
#box-dynamic small {
  color:#ccc;
  font-size:11px;
  font-family: 'Roboto Condensed', sans-serif;
margin-left: 5px;
margin-top: 0;
-ms-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
#box-dynamic.minimize small {
 font-size:10px;
 margin-right: 5px;
  float: right;
}

#box-dynamic img {
  float:left;
  width:0;
  height:0;
  visibility: hidden;
  -ms-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-webkit-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

#box-dynamic.minimize img {
  float:left;
  width:50px;
  height:50px;
  visibility: visible;
}

.leaflet-tooltip.customTooltip {
 background:rgba(255,255,255, 0.5);
 border: none;
  background: none;
}
.leaflet-tooltip-bottom.customTooltip::before {
  border-bottom-color: transparent;
  border-color: transparent;
}

.marker-cluster-small {
	background-color: rgba(198, 232, 249, 0.6) !important;
	}
.marker-cluster-small div {
	background-color: rgba(108, 177, 211, 0.6) !important;
	}
.marker-cluster-medium {
	background-color: rgba(255, 177, 177, 0.6) !important;
	}
.marker-cluster-medium div {
	background-color: rgba(175, 26, 26, 0.6) !important; 
	}

.marker-cluster-large {
	background-color: rgba(198, 232, 249, 0.6) !important;
	}
.marker-cluster-large div {
	background-color: rgba(108, 177, 211, 0.6) !important;
	}
